<style>
.div-content {
    font-family: "XB Niloofar", sans-serif;
}
h1, h2, h3 {
    font-family: "B Titr", sans-serif;
}
</style>

<div class="div-content" dir="rtl">
    <h1>تمرین اول - کاوش متن</h1>
    نام و نام‌خانوادگی: شایان صالحی<br>
    شماره دانشجویی: ۹۹۱۰۵۵۶۱
</div>

<style>
.div-content {
    font-family: "XB Niloofar", sans-serif;
}
</style>

<div class="div-content" dir="rtl">
در اینجا پکیج‌های مورد نیاز قرار گرفته‌اند.
</div>

In [ ]:
%pip install requests
%pip install beautifulsoup4
%pip install hazm

In [349]:
import nltk
import regex
import random 
import string
import codecs
import requests
import numpy as np
import pandas as pd

from hazm import *
from tqdm import tqdm
from nltk import FreqDist
from bs4 import BeautifulSoup

In [8]:
URL = "https://www.varzesh3.com/"
page = requests.get(URL)

In [10]:
soup = BeautifulSoup(page.text, 'html.parser')

In [14]:
with open('news_links.txt', 'w', encoding='utf-8') as file:
    for link in soup.find_all('a', href=True):
        href = link['href']
        if href.startswith("https://www.varzesh3.com/news"):
            file.write(href + '\n')

In [15]:
with open('news_links.txt', 'r', encoding='utf-8') as links_file:
    links = links_file.readlines()

In [19]:
with open('news_data.txt', 'w', encoding='utf-8') as data_file:
    for link in links:
        link = link.strip()
        page = requests.get(link)
        if page.status_code == 200:
            soup = BeautifulSoup(page.text, 'html.parser')
            data_file.write(soup.get_text() + '\n\n\n' + '-'*100 + '\n\n\n')
        else:
            print(f"Failed to fetch {link}")

In [22]:
with open('news_data.txt', 'r', encoding='utf-8') as data_file:
    text = data_file.readlines()

In [63]:
def random_sample_creator(collection, n):
    return random.sample(range(0, len(collection)), n)

In [84]:
def show_dataframe(first_list, second_list, first_name, second_name, n):
    random_sample = random_sample_creator(first_list, n)
    df = pd.DataFrame({first_name: [first_list[i] for i in random_sample], second_name: [second_list[i] for i in random_sample]})
    return df.head(n)

In [200]:
def show_details(collection):
    print ('%-50s' % 'Number of words', '%-50s' % len(collection))
    print ('%-50s' % 'Number of unique words', '%-50s' % len(set(collection)))
    avg=np.sum([len(word) for word in collection])/len(collection)
    print ('%-50s' % 'Average word length', '%-50s' % avg)
    avg_sentence_length_c=np.mean([len(' '.join(sentence)) for sentence in collection])
    print ('%-50s' % 'Average sentence length in characters', '%-50s' % avg_sentence_length_c)
    print ('%-50s' % 'Longest word', '%-50s' % collection[np.argmax([len(word) for word in collection])])
    print ('%-50s' % 'Shortest word', '%-50s' % collection[np.argmin([len(word) for word in collection])])

In [230]:
def show_freq_analysis(collection, n):
    freq_dist = FreqDist(collection).most_common(n)
    freq_df = pd.DataFrame({'Token': [token for token, _ in freq_dist], 'Frequency': [frequency for _, frequency in freq_dist], 'Persentage of tolal': [(frequency/len(collection)*100) for _, frequency in freq_dist]})
    return freq_df.head(n)

In [47]:
striped_text = [x.strip() for x in text]

In [88]:
show_dataframe(text, striped_text, 'original_text', 'striped_text', 15)

,original_text,striped_text
0,\n,
1,\n,
2,\n,
3,\n,
4,\n,
5,جنگ سن...,جنگ سنگ و بطری با عشق و غیرت: چه شب عجیبی!
6,\n,
7,\n,
8,\n,
9,\n,
10,\n,
11,\n,
12,\n,
13,\n,
14,\n,

In [49]:
unreapeted_text = set(striped_text)
unprocessed_text = list(unreapeted_text)

In [37]:
hazm_normalizer = Normalizer()
normalized_hazm_text = [hazm_normalizer.normalize(x) for x in unprocessed_text]

In [87]:
show_dataframe(unprocessed_text, normalized_hazm_text, 'unprocessed_text', 'hazm_normalized', 15)

,unprocessed_text,hazm_normalized
0,مشاهده برنامه و نتایج النصر، بازی بعدی النصر و...,مشاهده برنامه و نتایج النصر، بازی بعدی النصر و...
1,8 ساعت پیش - 18.7K بازدید,۸ ساعت پیش - ۱۸ ٫ ۷ K بازدید
2,مشاهده برنامه و نتایج فولاد، بازی بعدی فولاد و...,مشاهده برنامه و نتایج فولاد، بازی بعدی فولاد و...
3,الهام حسینی المپیک را از دست داد,الهام حسینی المپیک را از دست داد
4,1.9K بازدید |,۱ ٫ ۹ K بازدید |
5,مارینوس مربی محبوب 3 مربی لیگ برتری!,مارینوس مربی محبوب ۳ مربی لیگ برتری!
6,18.8K بازدید |,۱۸ ٫ ۸ K بازدید |
7,مشاهده برنامه و نتایج روستوف، بازی بعدی روستوف...,مشاهده برنامه و نتایج روستوف، بازی بعدی روستوف...
8,لیگ برتر و وحشی‌ترین کورس سه جانبه قهرمانی,لیگ برتر و وحشی‌ترین کورس سه جانبه قهرمانی
9,12 فروردين 1403 ساعت 15:59 |,۱۲ فروردین ۱۴۰۳ ساعت ۱۵:۵۹ |
10,یک سند فاش شده مبالغی را نشان می‌دهد که محمد ص...,یک سند فاش شده مبالغی را نشان می‌دهد که محمد ص...
11,تيم ملى بسكتبال سه نفره زنان ايران با درخشش ست...,تیم ملی بسکتبال سه نفره زنان ایران با درخشش ست...
12,مدافع باتجربه دورتموند با حرکتی استثنایی درواز...,مدافع باتجربه دورتموند با حرکتی استثنایی درواز...
13,مشاهده جدول کامل بسکتبال حرفه‌ای NBA و برنامه ...,مشاهده جدول کامل بسکتبال حرفه‌ای NBA و برنامه ...
14,"به گزارش ""ورزش سه""، یکی از خریدهای تابستانی اس...",به گزارش «ورزش سه»، یکی از خریدهای تابستانی اس...

In [308]:
clean_text = [x.replace('|', '').replace('\u200c', ' ').replace('\u200e', '').replace('\u200f', '').replace('-'*100, '').replace('K', 'هزار') for x in normalized_hazm_text]

In [309]:
show_dataframe(normalized_hazm_text, clean_text, 'hazm_normalizer', 'clean_text', 15)

,hazm_normalizer,clean_text
0,کد خبر: ۲۰۱۰۸۰۷ |,کد خبر: ۲۰۱۰۸۰۷
1,به گزارش «ورزش سه»، میثم صالحی دریافت‌کننده قد...,به گزارش «ورزش سه»، میثم صالحی دریافت کننده قد...
2,کد خبر: ۲۰۱۱۲۹۹ |,کد خبر: ۲۰۱۱۲۹۹
3,آبی پوشان شهر ریاض به سختی و با خوش شانسی از ی...,آبی پوشان شهر ریاض به سختی و با خوش شانسی از ی...
4,خاص‌ترین طرح پیراهن والیبال ایران (عکس),خاص ترین طرح پیراهن والیبال ایران (عکس)
5,صعود پسران بسکتبال ایران به فینال کاپ آسیا,صعود پسران بسکتبال ایران به فینال کاپ آسیا
6,۳ ٫ ۳ K بازدید |,۳ ٫ ۳ هزار بازدید
7,به گزارش «ورزش سه»، پورتو که در دو تقابل از سه...,به گزارش «ورزش سه»، پورتو که در دو تقابل از سه...
8,کد خبر: ۲۰۱۱۴۹۴ |,کد خبر: ۲۰۱۱۴۹۴
9,مهدی مهدوی,مهدی مهدوی
10,به گزارش «ورزش سه»، کورس قهرمانی لیگ برتر انگل...,به گزارش «ورزش سه»، کورس قهرمانی لیگ برتر انگل...
11,۹,۹
12,کد خبر: ۲۰۱۱۴۷۸ |,کد خبر: ۲۰۱۱۴۷۸
13,نقش جدید مورایس برای خرید جنجالی خارجی,نقش جدید مورایس برای خرید جنجالی خارجی
14,طارمی را خط زدند و نابود شدند!,طارمی را خط زدند و نابود شدند!

In [310]:
text_sentences = [sent_tokenize(x) for x in clean_text]

In [311]:
random_sample = random_sample_creator(clean_text, 10)
for i in random_sample:
    print('%-15s' % 'clean_text:', '%-15s' % clean_text[i])
    print('%-15s' % 'sentences:', '%-15s' % ' -|- '.join(text_sentences[i]))

clean_text:     ژوآئو کانسلو
sentences:      ژوآئو کانسلو
clean_text:     بی استرس ترین مربی ایران با پاچه های بالا! (عکس)
sentences:      بی استرس ترین مربی ایران با پاچه های بالا! -|- (عکس)
clean_text:     کد خبر: ۲۰۱۱۴۹۱
sentences:      کد خبر: ۲۰۱۱۴۹۱
clean_text:     یک سند فاش شده مبالغی را نشان می دهد که محمد صلاح، ستاره مصری لیورپول، خارج از زمین فوتبال به دست می آورد.
sentences:      یک سند فاش شده مبالغی را نشان می دهد که محمد صلاح، ستاره مصری لیورپول، خارج از زمین فوتبال به دست می آورد.
clean_text:     ۲
sentences:      ۲
clean_text:     پوریا فیاضی یک چشمه دیگر از دوران اوج خود را نشان داد.
sentences:      پوریا فیاضی یک چشمه دیگر از دوران اوج خود را نشان داد.
clean_text:     مریم طوسی فعلا تا بازی های آسیایی ۲۰۲۶ در پیست  ورزش سه
sentences:      مریم طوسی فعلا تا بازی های آسیایی ۲۰۲۶ در پیست  ورزش سه
clean_text:     الکسیس مک آلیستر، بهترین بازیکن میدان در جدال لیورپول و برایتون در پایان بازی به ستایش از زننده گل پیروزی بخش تیمش محمد صلاح پرداخت.
sentences:      الکسیس مک آلیستر، بهترین بازیکن میدان در جدال لیورپول و برایتون در پایان بازی به ستایش از زننده گل پیروزی بخش تیمش محمد صلاح پرداخت.
clean_text:     به گزارش «ورزش شه»، شب گذشته و در یکی از چندین دربی شهر ریاض، تیم فوتبال الهلال موفق شد با نتیجه ۴ بر ۳ از سد میزبان خود یعنی الشباب عبور کند. البته این پیروزی برای آبی پوشان سخت به دست آمد چرا که دروازه آنها در دقایق پایانی مسابقه بارها از سوی حریف تهدید شد. ثبت سی امین پیروزی متوالی الهلال به کام هواداران این تیم تلخ گردید چرا که بهترین گلزن الزعیم در دیدار شب گذشته دچار مصدومیت شد. الکساندر میتروویچ که در دیدار مقابل الشباب تا دقیقه ۲۷ توانسته بود دوبار موفق به گل زنی شود، پس از مصدومیت در دقیقه ۳۴، از زمین بازی بیرون رفت تا صالح الشهری به عنوان جانشین او به میدان بیاید. آنگونه که رسانه های عربستانی خبر داده اند، آسیب دیدگی مهاجم صربستانی الهلال جدی بوده و او ممکن است بین یک ماه و نیم تا دو ماه دیدارهای این تیم را از دست بدهد، خبری که هرگز نمی تواند برای ژرژ ژسوس خوشایند باشد.
sentences:      به گزارش «ورزش شه»، شب گذشته و در یکی از چندین دربی شهر ریاض، تیم فوتبال الهلال موفق شد با نتیجه ۴ بر ۳ از سد میزبان خود یعنی الشباب عبور کند. -|- البته این پیروزی برای آبی پوشان سخت به دست آمد چرا که دروازه آنها در دقایق پایانی مسابقه بارها از سوی حریف تهدید شد. -|- ثبت سی امین پیروزی متوالی الهلال به کام هواداران این تیم تلخ گردید چرا که بهترین گلزن الزعیم در دیدار شب گذشته دچار مصدومیت شد. -|- الکساندر میتروویچ که در دیدار مقابل الشباب تا دقیقه ۲۷ توانسته بود دوبار موفق به گل زنی شود، پس از مصدومیت در دقیقه ۳۴، از زمین بازی بیرون رفت تا صالح الشهری به عنوان جانشین او به میدان بیاید. -|- آنگونه که رسانه های عربستانی خبر داده اند، آسیب دیدگی مهاجم صربستانی الهلال جدی بوده و او ممکن است بین یک ماه و نیم تا دو ماه دیدارهای این تیم را از دست بدهد، خبری که هرگز نمی تواند برای ژرژ ژسوس خوشایند باشد.
clean_text:     به گزارش «ورزش سه»، دیدار معوقه هفته شانزدهم لیگ برتر بین تیم های تراکتور و سپاهان برگزار خواهد شد و هافبک های با کیفیتی که در تیم تراکتور حضور دارند روز خاصی را برای امید نورافکن هافبک دفاعی سپاهان رقم خواهد زد. امید نورافکن پس از پایان دوران مصدومیت خیلی زود به ترکیب اصلی سپاهان رسید و با توجه به درخشش در این تیم مجدد در لیست تیم ملی قرار گرفت و در دو بازی مقابل ترکمنستان به میدان رفت تا بازگشت خوبی به فوتبال داشته باشد. پس از جدایی محمد قربانی مسئولیت امید نورافکن در تیم سپاهان بیش از گذشته شد و او علاوه بر اینکه به همراه محمد کریمی در فاز دفاعی سپاهان تاثیرگذار است در جریان مسابقه به خط حمله این تیم هم اضافه می شود و با شوت از راه دور دروازه رقبا را تهدید می کند، اما این موضوع در بازی با تراکتور شکل دیگری خواهد داشت و نورافکن مسئولیت های دفاعی بیشتری خواهد داشت، آلوز، واگنین، دلتیچ و حسین زاده هافبک های هجومی تراکتور هستند که از جناحین و مرکز میدان به حملات اضافه می شوند و دوندگی بالا و قدرت جنگندگی نورافکن یکی از تدابیر فنی مورایس برای مهار مهره های کلیدی تراکتور خواهد بود.
sentences:      به گزارش «ورزش سه»، دیدار معوقه هفته شانزدهم لیگ برتر بین تیم های تراکتور و سپاهان برگزار خواهد شد و هافبک های با کیفیتی که در تیم تراکتور حضور دارند روز خاصی را برای امید نورافکن هافبک دفاعی سپاهان رقم خواهد زد. -|- امید نورافکن پس از پایان دوران مصدومیت خیلی زود به ترکیب اصلی سپاهان رسید و با توجه به درخشش در این تیم مجدد در لیست تیم ملی قرار گرفت و در دو بازی مقابل ترکمنستان به میدان رفت تا بازگشت خوبی به فوتبال داشته باشد. -|- پس از جدایی محمد قربانی مسئولیت امید نورافکن در تیم سپاهان بیش از گذشته شد و او علاوه بر اینکه به همراه محمد کریمی در فاز دفاعی سپاهان تاثیرگذار است در جریان مسابقه به خط حمله این تیم هم اضافه می شود و با شوت از راه دور دروازه رقبا را تهدید می کند، اما این موضوع در بازی با تراکتور شکل دیگری خواهد داشت و نورافکن مسئولیت های دفاعی بیشتری خواهد داشت، آلوز، واگنین، دلتیچ و حسین زاده هافبک های هجومی تراکتور هستند که از جناحین و مرکز میدان به حملات اضافه می شوند و دوندگی بالا و قدرت جنگندگی نورافکن یکی از تدابیر فنی مورایس برای مهار مهره های کلیدی تراکتور خواهد بود.

In [312]:
text_tokens = [[word_tokenize(sent) for sent in sents] for sents in text_sentences]

In [313]:
show_dataframe(clean_text, text_tokens, 'clean_text', 'text_tokens', 15)

,clean_text,text_tokens
0,لوئیس همیلتون,"[[لوئیس, همیلتون]]"
1,۲۲ ساعت پیش - ۲۴ ٫ ۷ هزار بازدید,"[[۲۲, ساعت, پیش, -, ۲۴, ٫, ۷, هزار, بازدید]]"
2,خاص ترین رکورد والیبال ایران در انتظار مهدی مه...,"[[خاص, ترین, رکورد, والیبال, ایران, در, انتظار..."
3,۱۹ ٫ ۱ هزار بازدید,"[[۱۹, ٫, ۱, هزار, بازدید]]"
4,کد خبر: ۲۰۱۰۸۱۲,"[[کد, خبر, :, ۲۰۱۰۸۱۲]]"
5,۱۱ فروردین ۱۴۰۳ ساعت ۲۲:۰۷,"[[۱۱, فروردین, ۱۴۰۳, ساعت, ۲۲:۰۷]]"
6,مصدوم جدید سیتی ۱۰ روز قبل از بازی با رئال!,"[[مصدوم, جدید, سیتی, ۱۰, روز, قبل, از, بازی, ب..."
7,رسمی: برنامه فینال لیگ برتر والیبال اعلام شد ...,"[[رسمی, :, برنامه, فینال, لیگ, برتر, والیبال, ..."
8,عملکرد عارف غلامی در خط دفاعی باشگاه جدیدش موج...,"[[عملکرد, عارف, غلامی, در, خط, دفاعی, باشگاه, ..."
9,لحظه شماری برای سپاهان، شیری: ۱۱ نفر در حمله و...,"[[لحظه, شماری, برای, سپاهان, ،, شیری, :, ۱۱, ن..."
10,ستاره دیشب شهداب یزد در نیمه نهایی لیگ برتر وا...,"[[ستاره, دیشب, شهداب, یزد, در, نیمه, نهایی, لی..."
11,بوکسورهای ایران در تورنمنت بین المللی جاده ابر...,"[[بوکسورهای, ایران, در, تورنمنت, بین, المللی, ..."
12,۸ ساعت پیش - ۲۷ ٫ ۴ هزار بازدید,"[[۸, ساعت, پیش, -, ۲۷, ٫, ۴, هزار, بازدید]]"
13,۴ ٫ ۲ هزار بازدید,"[[۴, ٫, ۲, هزار, بازدید]]"
14,۰۷ فروردین ۱۴۰۳ ساعت ۱۳:۳۲,"[[۰۷, فروردین, ۱۴۰۳, ساعت, ۱۳:۳۲]]"

In [314]:
all_tokens = []
for sents in text_tokens:
    for sent in sents:
        for token in sent:
            all_tokens.append(token)

In [315]:
show_details(all_tokens)

Number of words                                    102693
Number of unique words                             7720
Average word length                                3.6491484327071952
Average sentence length in characters              6.2982968654143905
Longest word                                       همدانکادرفنیمربیان
Shortest word                                      ،

In [316]:
show_freq_analysis(all_tokens, 25)

   Token  Frequency  Persentage of tolal
0     در       3620             3.525070
1      و       3149             3.066421
2     به       2991             2.912565
3      .       2882             2.806423
4      ،       2176             2.118937
5     از       1762             1.715794
6     را       1640             1.596993
7     با       1533             1.492799
8    این       1455             1.416844
9     که       1413             1.375946
10   تیم       1134             1.104262
11  بازی        919             0.894900
12    می        868             0.845238
13    سه        824             0.802392
14   های        760             0.740070
15     :        668             0.650483
16  برای        630             0.613479
17    یک        625             0.608610
18  ورزش        579             0.563816
19    تا        571             0.556026
20    شد        513             0.499547
21   خود        464             0.451832
22   کرد        464             0.451832
23    هم        455             0.443068
24   است        453             0.441121

In [317]:
no_punctuation_text_tokens = [[[token for token in sent if token not in string.punctuation] for sent in sents] for sents in text_tokens]

In [318]:
no_mark_text_tokens = [[[token for token in sent if token not in ['،', '٫', '«', '»']] for sent in sents] for sents in no_punctuation_text_tokens]

In [319]:
no_punctuation_all_tokens = [token for sents in no_mark_text_tokens for sent in sents for token in sent]

In [320]:
show_details(no_punctuation_all_tokens)

Number of words                                    94996
Number of unique words                             7704
Average word length                                3.863794265021685
Average sentence length in characters              6.72758853004337
Longest word                                       همدانکادرفنیمربیان
Shortest word                                      و

In [321]:
show_freq_analysis(no_punctuation_all_tokens, 25)

    Token  Frequency  Persentage of tolal
0      در       3620             3.810687
1       و       3149             3.314876
2      به       2991             3.148554
3      از       1762             1.854815
4      را       1640             1.726388
5      با       1533             1.613752
6     این       1455             1.531643
7      که       1413             1.487431
8     تیم       1134             1.193734
9    بازی        919             0.967409
10     می        868             0.913723
11     سه        824             0.867405
12    های        760             0.800034
13   برای        630             0.663186
14     یک        625             0.657922
15   ورزش        579             0.609499
16     تا        571             0.601078
17     شد        513             0.540023
18    خود        464             0.488442
19    کرد        464             0.488442
20     هم        455             0.478968
21    است        453             0.476862
22  ایران        410             0.431597
23    ملی        404             0.425281
24     گل        399             0.420018

In [322]:
url = 'https://raw.githubusercontent.com/roshan-research/hazm/master/hazm/data/stopwords.dat'
response = requests.get(url)
stopwords = response.content.decode('utf-8').splitlines()
stopwords = [word.replace('\u200c', '') for word in stopwords]

In [323]:
all_tokens_nonstop = [token for token in tqdm(no_punctuation_all_tokens) if token not in stopwords]

100%|██████████| 94996/94996 [00:00<00:00, 148879.75it/s]

In [324]:
show_details(all_tokens_nonstop)

Number of words                                    56526
Number of unique words                             7346
Average word length                                4.689488023210558
Average sentence length in characters              8.378976046421116
Longest word                                       همدانکادرفنیمربیان
Shortest word                                      ۸

In [325]:
show_freq_analysis(all_tokens_nonstop, 25)

      Token  Frequency  Persentage of tolal
0       تیم       1134             2.006156
1      بازی        919             1.625801
2       های        760             1.344514
3      ورزش        579             1.024307
4     ایران        410             0.725330
5       ملی        404             0.714715
6        گل        399             0.705870
7        ها        396             0.700563
8       لیگ        384             0.679333
9   فروردین        378             0.668719
10     ساعت        357             0.631568
11    مقابل        330             0.583802
12      خبر        291             0.514807
13      سال        282             0.498885
14      فصل        280             0.495347
15     هزار        275             0.486502
16    گزارش        271             0.479425
17  قهرمانی        269             0.475887
18     ۱۴۰۳        268             0.474118
19       کد        263             0.465273
20   بازدید        252             0.445813
21    دیدار        243             0.429891
22     برتر        230             0.406892
23   امتیاز        229             0.405123
24   دروازه        223             0.394509

In [326]:
stemmer = Stemmer()
lemmatizer = Lemmatizer()

all_tokens_nonstop_stem =   [stemmer.stem(token) for token in all_tokens_nonstop]
all_tokens_nonstop_lemma =   [lemmatizer.lemmatize(token) for token in all_tokens_nonstop]

In [327]:
show_freq_analysis(all_tokens_nonstop_stem, 25)

      Token  Frequency  Persentage of tolal
0                 1344             2.377667
1         ت       1134             2.006156
2       باز        922             1.631108
3       ورز        579             1.024307
4        مل        436             0.771326
5        گل        419             0.741252
6       ایر        413             0.730637
7       لیگ        384             0.679333
8   فروردین        378             0.668719
9       ساع        367             0.649259
10        ن        348             0.615646
11   بازیکن        342             0.605031
12    مقابل        331             0.585571
13      خبر        306             0.541344
14    دیدار        300             0.530729
15   امتیاز        298             0.527191
16      سال        295             0.521884
17   قهرمان        287             0.507731
18      فصل        284             0.502424
19     هزار        277             0.490040
20     گزار        272             0.481194
21     ۱۴۰۳        268             0.474118
22       کد        263             0.465273
23   بازدید        253             0.447582
24       پا        241             0.426352

In [328]:
show_freq_analysis(all_tokens_nonstop_lemma, 25)

          Token  Frequency  Persentage of tolal
0           تیم       1255             2.220217
1          بازی        919             1.625801
2           های        760             1.344514
3          ورزش        579             1.024307
4         ایران        410             0.725330
5           ملی        404             0.714715
6            گل        402             0.711177
7            ها        396             0.700563
8           لیگ        384             0.679333
9       فروردین        378             0.668719
10         ساعت        357             0.631568
11       بازیکن        342             0.605031
12        مقابل        331             0.585571
13          خبر        292             0.516576
14          سال        282             0.498885
15          فصل        280             0.495347
16  توانست#توان        276             0.488271
17         هزار        275             0.486502
18        گزارش        272             0.481194
19        دیدار        270             0.477656
20      قهرمانی        269             0.475887
21         ۱۴۰۳        268             0.474118
22           کد        263             0.465273
23       بازدید        253             0.447582
24       امتیاز        233             0.412200

In [330]:
all_tokens_nonstop_lemma = [token.split('#')[0] for token in tqdm(all_tokens_nonstop_lemma)]

100%|██████████| 56526/56526 [00:00<00:00, 1687765.91it/s]

In [347]:
all_numbers = [token for token in all_tokens_nonstop_lemma if bool(regex.search(r'\P{L}+', token)) is True]

In [379]:
show_details(all_numbers)

Number of words                                    3992
Number of unique words                             878
Average word length                                2.7878256513026054
Average sentence length in characters              4.575651302605211
Longest word                                       الکساندر-آرنولد
Shortest word                                      ۸

In [381]:
show_freq_analysis(all_numbers, 25)

   Token  Frequency  Persentage of tolal
0   ۱۴۰۳        268             6.713427
1     ۱۲        212             5.310621
2      ۲        147             3.682365
3      ۱        116             2.905812
4     ۱۰        108             2.705411
5      ۳        102             2.555110
6      ۴         90             2.254509
7     ۱۱         89             2.229459
8      ؟         86             2.154309
9      ۵         84             2.104208
10     ؛         78             1.953908
11     ۹         76             1.903808
12     ۶         66             1.653307
13     ۷         65             1.628257
14     ۰         54             1.352705
15     ۸         53             1.327655
16  ۲۰۲۴         47             1.177355
17    ۱۹         47             1.177355
18    ۲۵         47             1.177355
19    ۹۰         43             1.077154
20    ۱۸         41             1.027054
21    ۲۳         38             0.951904
22    ۲۰         37             0.926854
23  ۱۴۰۲         37             0.926854
24    ۱۶         36             0.901804

In [370]:
all_tokens_without_number = [token for token in all_tokens_nonstop_lemma if token not in all_numbers]

In [419]:
all_tokens_farsi = [token for token in all_tokens_without_number if bool(regex.search(r'[a-zA-Z]', token)) is False]

In [421]:
all_tokens_farsi = [token for token in all_tokens_farsi if not (len(token) == 1 or bool(regex.search(r'\S', token)) is False)]

In [422]:
show_details(all_tokens_farsi)

Number of words                                    52378
Number of unique words                             5486
Average word length                                4.684199473061209
Average sentence length in characters              8.368398946122419
Longest word                                       همدانکادرفنیمربیان
Shortest word                                      خط

In [423]:
show_freq_analysis(all_tokens_farsi, 25)

      Token  Frequency  Persentage of tolal
0       تیم       1255             2.396044
1      بازی        919             1.754553
2       های        760             1.450991
3      ورزش        579             1.105426
4     ایران        410             0.782771
5       ملی        404             0.771316
6        گل        402             0.767498
7        ها        396             0.756043
8       لیگ        384             0.733132
9   فروردین        378             0.721677
10     ساعت        357             0.681584
11   بازیکن        342             0.652946
12    مقابل        331             0.631945
13      خبر        292             0.557486
14      سال        282             0.538394
15      فصل        280             0.534576
16   توانست        276             0.526939
17     هزار        275             0.525030
18    گزارش        272             0.519302
19    دیدار        270             0.515484
20  قهرمانی        269             0.513574
21       کد        263             0.502119
22   بازدید        253             0.483027
23   امتیاز        233             0.444843
24     برتر        230             0.439116

In [424]:
processed_text = ' '.join(all_tokens_farsi)

In [425]:
with open('processed_data.txt', 'w', encoding='utf-8') as file:
    file.write(processed_text)